<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need to access your camera to scan the chessboard</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We save the cropped chessboard image so you can verify detections.</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>SFPRODISPLAYBOLD.OTF</string>
		<string>SFPRODISPLAYREGULAR.OTF</string>
	</array>
</dict>
</plist>
